.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}

.full-width {
    width: 100%;
}

.inner-container {
    flex: 1;
}

.form-group {
    margin-bottom: 2rem;
}